:root{
    --mainColor: rgb(33, 49, 28);
    --secondaryColor:#515a48;
    --borderColor:#161914;
    --mainText:#fff;
    --secondaryText: #eeeeee;
    --themeDotBorder:#FFF;
    --previewBg:rgb(81, 90, 72, 0.8);
    --previewShadow:#92f035ad;
    --buttonColor:#669966;
    --waterColor: rgb(0, 247, 255);
}