:root{
    --mainColor: rgb(17, 19, 32);
    --secondaryColor:#2a3c3f;
    --borderColor:#ecf2f5;
    --mainText:#fff;
    --secondaryText: #eeeeee;
    --themeDotBorder:rgb(241, 236, 236);
    --previewBg:rgba(21, 31, 32, 0.8);
    --previewShadow:#21c1e9;
    --buttonColor:#3492a3;
    --waterColor: rgb(0, 247, 255);
}