:root{
  /* --mainColor: linear-gradient(to right, rgb(10, 10, 46), rgb(28, 29, 31)); */
  --mainColor: white;
  --secondaryColor:rgb(255, 255, 255);
  --thirdText:white;
  --borderColor:#000000;
  --mainText:black;
  --secondaryText: #ffffff;
  --themeDotBorder:#24292e;
  --previewBg:rgb(251, 249, 243, 9.8);
  --previewShadow:#31312f;
  --buttonColor:black;
  --waterColor: blue;
}

/* background-color: var(--mainColor); */

body{
    margin: auto 0;
    font-family: Arial, Helvetica, sans-serif;
    background: var(--mainColor);
    color: var(--mainText);
}

.zone {
    color:var(--mainText);;
    font-size:2em;
    border-radius:4px;
    border:1px solid var(--themeDotBorder);
    transition: all 0.3s linear;
    /* background: linear-gradient(to right, rgb(10, 10, 46), rgb(28, 29, 31)); */
}

/* Navigation */
.main-nav{
    display: flex;
    list-style: none;
    font-size: 0.7em;
    margin: 0;
    background: var(--mainColor);
}

.fullCell{
    font-size: 2.5em;
    text-align: center;
    justify-content: center;
    background: var(--mainColor);
    background-color: var(--mainColor);
}


.push{
    /* Um Contacts nacht rechts zu setzen */
    margin-left: auto;
}

li{
    padding: 20px;
    background-color: #a5c956;
    margin: 30px;
    border-radius: 12px;
}

.navButton{
    padding: 20px;
    background-color: var(--mainColor);
    color: var(--mainText);
    margin: 30px;
    border-radius: 12px;
    font-size: 52px;
    font-weight: bold;
    min-width: 150px;
    box-shadow: 5px 5px 25px var(--previewShadow);
}

a{
    color: #000000;
    text-decoration: none;
    font-weight: bold;
}

p{
    margin: 0;
}

/* Cover */
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50vh;
    
}

h1{
    text-align: left;
    margin: 70px 70px 70px 70px;
}

/* Projects */
.grid-wrapper{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    background: var(--mainColor);
}



box2{
    width: 100%;
    background-color: var(--mainColor);
}


/* FOOTER */
footer{
    text-align: center;
}


/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: var(--mainColor);
}

/*
.blue{
  background: linear-gradient(to right, rgb(10, 10, 46), rgb(28, 29, 31)); 
  background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee));
  background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
  background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
  background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); 
  background: linear-gradient(to right, rgb(10, 10, 46), rgb(28, 29, 31)); 
}
*/


.cover{
    width: 30rem;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
    font-size: 44px;
}


/* Graue Boxen */
.box{
    /* padding: 10px; */
    margin: 5px;
    background-color: var(--mainColor);
    text-align: center;
    font-size: 40px;
    height: 110px;
    border-radius: 20px;
    border:2px solid var(--borderColor);
    box-shadow: 5px 5px 20px var(--previewShadow);
}

/* Progress bar */

.progress{
    width: 100%;
    height: 45px;
    background: linear-gradient(to right, rgb(167, 4, 4), rgb(221, 22, 22));
    box-shadow: 3px 3px 45px var(--previewShadow);
    border-radius: 15px;
    font-size: 40px;
    font-weight: bold;
    color: var(--mainText);
    text-align: right;
    border: 5px solid rgba(255, 255, 255, 0.336);
}

.uebersicht_Values{
    font-weight: bolder;
    background: var(--mainColor);
    font-size: larger;
}

/***********************************************************************
 *  Immer da Button
 **********************************************************************/
 /* Neues Essen hinzufügen */

.bg-text {
    background-color: var(--mainColor); /* Fallback color */
    opacity: 0.9; /* Black w/opacity/see-through */
    color: rgb(27, 206, 27);
    font-weight: bold;
    font-size: 60px;
    border: 10px solid var(--themeDotBorder);
    position: fixed; /* Stay fixed */
    top: 90%;
    left: 10%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80px;
    padding: 20px;
    text-align: left;
    border-radius: 90px;
    /* backdrop-filter: blur(20px); */
    text-align: center;
    height: 150px;
  }
  .bg-text:hover{
    transition: ease-in-out 1s;
    box-shadow: 7px 7px 95px var(--previewShadow);
  }


  /* Nach oben Button  */
  .bg-text2{
    background-color: var(--mainColor); /* Fallback color */
    opacity: 0.9; /* Black w/opacity/see-through */
    color: rgb(27, 206, 27);
    font-weight: bold;
    font-size: 60px;
    border: 10px solid var(--themeDotBorder);
    position: fixed; /* Stay fixed */
    top: 90%;
    left: 90%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 80px;
    padding: 20px;
    text-align: center;
    border-radius: 90px;
    /* backdrop-filter: blur(20px); */
    text-align: center;
    height: 150px;
    align-content: center;

  }

  .bg-text2:hover{
    transition: ease-in-out 1s;
    box-shadow: 7px 7px 95px var(--previewShadow);
  }


  /* Schritte */
  .bg-text3{
    background-color: var(--mainColor); /* Fallback color */
    opacity: 0.9; /* Black w/opacity/see-through */
    color: rgb(27, 206, 27);
    font-weight: bold;
    font-size: 60px;
    border: 10px solid var(--themeDotBorder);
    position: fixed; /* Stay fixed */
    top: 15%;
    left: 55%;
    transform: translate(-50%, -50%);
    z-index: 2;
    width: 350px;
    padding: 20px;
    border-radius: 90px;
    text-align: center; 
  }


.mittelForm{
    background-color: var(--mainColor);
    color: var(--mainText);
    display: flex;
    justify-content: center;
    margin: 50px;
    font-weight: bold;
    font-size: 2.7em;
    border: 3px solid var(--borderColor);
}

  .form1{
      
      text-align: right;
      padding: 50px;
      color: var(--mainText);
  }

  .inpBox1{
      margin-left: 50px;
      width: 500px;
      height: 80px;
      font-size: 34px;
      text-align: center;
      border: 3px solid var(--themeDotBorder);
  }

  .inpBox2{
    margin-left: 50px;
    width: 200px;
    height: 80px;
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
    border: 3px solid var(--themeDotBorder);
  }

  .ButtonSpeichern{
      background-color: green;
      color: white;
      width: 300px;
      height: 80px;
      font-size: 44px;
      border-radius: 20px;
      margin: 15px;
  }

  .button_FoodLoeschen{
    width: 250px;
    height: 80px;
    background-color: red;
    color: var(--mainText);
    margin: 15px;
    font-size: 44px;
    font-weight: bold;
    border-radius: 20px;
  }

  .button_TagAbschl{
    background-color: red;
    color: white;
    width: 200px;
    height: 100px;
    font-size: 24px;
    border-radius: 20px;
    font-weight: bold;
    margin: 40px 80px 50px 250px;
    justify-content: center;
  }

#output_Gramm{
  margin-left: 30px;
}
/***********************************************************************
 *  Tabelle Heute gegessen
 **********************************************************************/
#sel_change_Prod{
    text-align: center;
    color: yellow;
    margin: 15px;
    font-size: 44px;
}

.singleCalc{
  color: var(--secondaryText);
}

#containerTabelle_Today{
    width: 100%;
    font-size: 40px;
    font-weight: bolder;
    text-align: right;
    overflow-y: auto;
    height: 45vh;
    max-height: 45vh;
    border: 5px solid var(--themeDotBorder);
    background: var(--mainColor);
    color: var(--mainText);
}

.button_del{
    background-color: red;
    color: white;
    width: 60px;
    height: 60px;
    margin: 15px;
    border-radius: 20px;
    font-size: 44px;
    font-weight: bolder;
    text-align: center;
}

.button-Menge-aendern{
    width: 260px;
    height: 80px;
    background-color: rgb(230, 189, 10);
    color: black;
    border-radius: 12px;
    font-size: 32px;
    font-weight: bolder;
    margin: 15px;
    border: 3px solid rgb(255, 255, 255);
    box-shadow: 5px 5px 15px rgba(186, 187, 187, 0.658);
}

.inputMengeChange{
  margin: 15px;
  font-size: 42px;
  font-weight: bolder;
  text-align: center;
  width: 200px;
}

.checkMarkButton{
    height: 75px;
    width: 75px;
    font-size: 34px;
    font-weight: bold;
    margin-left: 40px;
    border-radius: 55px;
    background-color: green;
    color: var(--mainText);
    margin: 15px 15px 15px 25px;
}

  /* Tabelle ALLE PRODUKTE */
  .inputMenge{
      width: 200px;
      height: 80px;
      font-size: 34px;
      font-weight: bold;
      margin: 15px;
      text-align: center;
      color: var(--mainText);
      background-color: var(--secondaryColor);
      border-radius: 20px;
      border: 4px solid black;
  }

  .button-Menge-speichern{
    width: 150px;
    height: 80px;
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
    color: black;
    background-color: var(--mainColor);
    border-radius: 20px;
    border: 2px solid black;
    margin: 15px;
    box-shadow: 4px 4px 30px var(--previewShadow);
  }

  .foodSection{
      justify-content: center;
      background-color: #313235;
  }

  #statusX{
    font-size: 30px;
    text-align: center;
    font-weight: bolder;
    color: rgb(15, 230, 15);
    background-color: rgb(31, 30, 30);
  }

  

/* ============================================================================== */
  /***********************************************************************
 *  Popup Screen
 **********************************************************************/
  .modal_Steps{
      /* Damit das Fenster beim scrollen folgt */
      position: fixed;
      top: 20%;
      left: 50%;
      transform: translate(-50%, -50%) scale(0);

      transition: 200ms ease-in-out;
      border: 1px solid black;
      border-radius: 12px;
      z-index: 10;
      background-color: rgba(2, 11, 43, 0.808);
      width: 80%;
      max-width: 80%;
      height: 35%;
      border-radius: 20px;
      
  }

  .modal_Steps.active{
    transform: translate(-50%, -50%) scale(1);
  }


  .modal-header{
      padding: 10px 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid rgb(0, 0, 0);
      text-align: center;
      
  }

  .modal-header ,title{
      font-size: 3.25rem;
      font-weight: bold;
      color: greenyellow;
      margin: 35px;
  }

  .modal-header .close-button{
    cursor: pointer;
    border: none;
    outline: none;
    background: none;
    font-size: 3.25rem;
    font-weight: bold;
    color: var(--mainText);
  }

  .modal-body{
      padding: 10px 15px ;
      font-size: 3.25rem;
      text-align: center;
  }


  #overlay{
      position: fixed;
      opacity: 0;
      transition: 200ms ease-in-out;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: rgba(0, 0, 0, 0.815);
      pointer-events: none;
      /* backdrop-filter: blur(15px); */
      z-index: 9;
  }

  #overlay.active{
    opacity: 1;
    pointer-events: all;
  }

  .inpSteps{
    width: 50%;
    height: 80px;
    font-size: 64px;
    text-align: center;
  }

  #btn_SaveSteps{
      width: 300px;
      height: 150px;
      background-color: darkgreen;
      color: white;
      font-size: 3.0rem;
      font-weight: bold;
      margin: 50px;
      border-radius: 15px;
  }


/* ================================================ */
  /* Food Datenbank */
/* ================================================ */

  .buttonChangeMakros{
    width: 150px;
    height: 80px;
    font-size: 34px;
    font-weight: bolder;
    text-align: center;
    color: #fdfff9;
    background-color: var(--mainColor);
    border-radius: 20px;
    border: 2px solid black;
    margin: 15px 0px 15px 35px;
    box-shadow: 5px 5px 25px var(--previewShadow);
  }

  #containerTabelle{
    overflow-y: auto;
    height: 40vh;
    max-height: 40vh;
    border: 5px solid black;
    background: var(--mainColor);
   
}

#titleDatenbank{
  text-align: center;
}


table { border-collapse: collapse; min-height: 100px; font-size: 34px; }
table tr td {
  border: 1px solid var(--themeDotBorder);
  padding: 10px;
  color: var(--mainText);
  font-weight: bold;
 
}

td:hover{
    transition: ease-in-out 1s;
    background-color: var(--previewShadow);
    color: var(--secondaryText);
}

table tr:nth-child(odd) { background: var(--mainColor); }


#selectedFoodAnzeige{
    color: cadetblue;
    font-weight: bold;
    font-size: 44px;
    margin: 5px;
    text-align: center;
}

#selectedFoodMakros{
    color: darkgoldenrod;
    font-size: 34px;
    font-weight: bold;
    margin: 5px;
    text-align: center;
}


.inpSteps{
    background-color: black;
    color: chartreuse;
    font-weight: bolder;
}

.labelSuche{
    width: 80%;
    height: 80px;
    margin: 80px;
    border: 5px solid black;
    font-size: 44px;
    font-weight: bold;
    box-shadow: 5px 5px 50px var(--previewShadow);
    border-radius: 30px;
    
}

.buttonPruefe{
  margin: 25px 120px 25px 120px;
  width: 200px;
  height: 100px;
  border-radius: 25px;
  font-size: 44px;
  font-weight: bold;
  background-color: var(--mainColor);
  color: var(--mainText);
  box-shadow: 7px 7px 25px var(--previewShadow);
  border: 3px solid var(--borderColor);
}


/* ================================================ */
/* Einstellungen  */
/* ================================================ */

.einstllungsform{

    justify-content: center;
    margin-left: 10%;
}

.checkBox{
    width: 30px;
    height: 30px;
    border: 2px solid red;
}

.radioBtn{
    width: 35px;
    height: 35px;
    margin: 15px;
    text-align: right;
}


.box_SaveButton{
  display: flex;
  justify-content: center;
}


table {
    width:100%;
   
  }
  table, th, td {
    border: 1px solid var(--themeDotBorder);
    border-collapse: collapse;
    
  }
   /*
  th, td {
    padding: 5px;
    text-align: left;
  } */
  table.names tr:nth-child(even) {
    background: var(--mainColor);
    text-align: center;
  }

  table.names tr:nth-child(odd) {
    background: var(--mainColor);
    text-align: center;
  }
  table.names th {
    background-color: black;
    color: rgb(245, 241, 11)
  }


  .container_Kcal_Diagram{
      position:relative;
      min-height: 1000px;
  }

  .column{
      width: 11%;
      background-color: teal;
      margin: 8px;
      border: 3px solid black;
      bottom:0;
      position:absolute;
      text-align: center;
      font-size: 34px;
      border-radius: 12px;
      color: var(--secondaryColor);
      transition: ease-in-out 2s;
  }

  .c1{
    left:8%;
    height: 0px;
  }

  .c2{
    left:20%;
    height: 0px;
  }

  .c3{
    left:32%;
    height: 0px;
  }
  .c4{
    left:44%;
    height: 0px;
  }
  .c5{
    left:56%;
    height: 0px;
  }
  .c6{
    left:68%;
    height: 0px;
  }
  .c7{
    left:80%;
    height: 0px;
  }

  .KcalGoal{
    left:0%;
    bottom:60%;
    width: 100%;
    height: 1%;
    background-color: red;
    opacity: 0.3;
  }

  .wrapperButton{
    display: flex;
    justify-content: center;
  }

  .optButtonStatisik{
    width: 230px;
    height: 75px;
    background-color: rgb(10, 10, 46);
    color: white;
    font-size: 30px;
    font-weight: bold;
    border-radius: 15px;
    margin: 10px;
    border: 3px solid rgb(17, 138, 146);
  }


.boxWeitereZiele{
  display: grid;
  justify-content: center;
  text-align: left;
  margin-left: 10%;
}


#Status_New_Food {
  font-size: 34px;
  margin: 20px;
  padding: 20px;
  text-align: center;
}
/* ================================================ */
/* Wasser */
/* ================================================ */

.wasserUeberschr{
  text-align: center;
  color: var(--waterColor);
}

.wasserContainer{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;

}

.spinButton{
  height: 100px;
  width: 100px;
  margin: 20px;
  background-color: var(--buttonColor);
  color: var(--thirdText);
  font-size: 74px;
  font-weight: bold;
  justify-content: center;
  border-radius: 12px;
  border: 3px solid white;
}

.outputButtonWater{
  width: 470px;
  height: 150px;
  background-color: rgba(0, 0, 0, 0);
  color: var(--waterColor);
  font-size: 82px;
  border-radius: 20px;
  box-shadow:5px 5px 50px var(--mainText);
  transition: ease-in 2s;
}

.outputButtonWater:hover{
  transition: ease-in-out 2s;
  background: rgb(13, 179, 245);
}

.outpTxtWater{
  text-align: center;
  color: var(--waterColor);
  border-radius: 40px;
  font-size: 117px;
  font-weight: bolder;
}


#lastWater{
  margin: 12px;
  font-size: 44px;
  font-weight: bold;
  color: var(--mainText);
}


/* ================================================ */
/* Theme  */
/* ================================================ */


.colorButtonHolder{
  display: flex;
  background-color: var(--mainColor);
  justify-content: center;
}

.theme-dot{
  height: 150px;
  width: 150px;
  margin: 45px;
  border-radius: 90px;
  box-shadow: 5px 5px 50px rgb(52, 241, 255);
  font-size: 30px;
  font-weight: bold;
  border: 5px solid rgba(255, 255, 255, 0.37);
}

.dark{
  background-color: #111f3d;
  color: #4096ee;
}

.ocean{
  background-color: #192734;
  color: #9cadbe;
}

.light{
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
}

.green{
  background-color: #606B56;
}

.lightBlue{
  background-color: rgb(87, 166, 245);
  color: white;
}

.Linear{
  background: linear-gradient(135deg, rgb(6, 6, 24), rgb(14, 54, 92));
  color: white;
}

.expButton{
  width: 250px;
  height: 100px;
  margin: 35px;
  font-size: 33px;
  background-color: var(--mainColor);
  color: var(--mainText);
  border-radius: 20px;
  box-shadow:5px 5px 29px var(--previewShadow);
  
}

/* ================================================ */
/* Historie */
/* ================================================ */

.buttonHistorie{
  margin: 25px 120px 25px 120px;
  width: 250px;
  height: 100px;
  border-radius: 25px;
  font-size: 34px;
  font-weight: bold;
  background-color: var(--mainColor);
  color: var(--mainText);
  box-shadow: 7px 7px 25px var(--previewShadow);
  border: 3px solid var(--borderColor);
}

.deleteHistorie{
  color: red;
}

#containerTabelle_History{
width: 100%;
font-size: 40px;
font-weight: bolder;
text-align: center;
overflow-y: auto;
height: 45vh;
max-height: 45vh;
border: 5px solid var(--themeDotBorder);
background: var(--mainColor);
color: var(--mainText);
}

#HistoryButtonContainer{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}

.welcomeScreen{
  position: fixed;
  margin: 0px;

  background-color: rgba(0, 0, 0, 0.918);
  color: #23da41;
  z-index: 2;
  top: 40%;
  left: 0%;
  width: 100%;
  height: 300px;
  font-size: 34px;
  text-align: center;
}

/* ================================================ */
/* Planer  */
/* ================================================ */

.contr{
  display: flex;
  justify-content: center;
  
}

.macroContainer{
  width: 90%;
  height: 400px;
  background-color: var(--mainColor);
  border-radius: 25px;
  border: 3px solid var(--borderColor);
  box-shadow: 5px 5px 15px var(--previewShadow);
}

.row{
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  margin: 25px;
}

.buttonPlaner{
  margin: 25px 120px 25px 120px;
  width: 450px;
  height: 100px;
  border-radius: 25px;
  font-size: 34px;
  font-weight: bold;
  background-color: var(--mainColor);
  color: var(--mainText);
  box-shadow: 7px 7px 25px var(--previewShadow);
  border: 3px solid var(--borderColor);
}

.addButton{
  font-size: 75px;
  color: var(--mainText);
  margin: 40px;
}

.deleteFromPlaner{
  font-size: 34px;
  color: rgb(228, 31, 31);
  margin: 40px;
}

.uebernehmenButton{
  font-size: 34px;
  color: var(--mainText);
  margin: 40px;
}

.buttonContainer{
  text-align: center;
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: center;
}


.fertigButton{
  margin: 25px 120px 25px 10px;
  width: 320px;
  height: 100px;
  border-radius: 25px;
  font-size: 54px;
  font-weight: bold;
  background-color: var(--mainColor);
  color: greenyellow;
  box-shadow: 7px 7px 25px var(--previewShadow);
  border: 3px solid var(--borderColor);
}

.verwerfbutton{
  color: red;
  width: 380px;
  position: relative;
  left: 35%;
}

.containerNutri{
  display: flex;
  justify-content: center;
  text-align: center;
}

.cont{
  display: grid;
  place-items: center;
  width: 60px;
  height: 60px;
  margin: 2px;
  border: 2px solid white;
  border-radius: 15px;
  color: black;
  font-weight: bold;
  transition: ease-in-out 1s;
}
.C_A{
  background: green;
}

.C_B{
  background: lightgreen;
}

.C_C{
  background: yellow;
}

.C_D{
  background: orange;
}

.C_E{
  background: red;
}


#txtArea{
  background-color: var(--mainColor);
  color: var(--mainText);
  border: none;
}


@media screen and (min-width: 1200px) {
  *{
    zoom: 0.9;
  }

  .zone{
    font-size: 40px;
    margin: 50px;
  }

  p{
    font-size: 40px;
  }

  #btn_SaveSteps{
    width: 100%;
  }

  .bg-text3{
    top: 11%;
  }

  .container_Kcal_Diagram{
    zoom: 0.6;
    margin-left: 20%;
    width: 60%;
  }
}


@media only screen and (max-width: 600px) {
  .main-nav {
      font-size: 0.5em;
      padding: 0;
  }


}

.advise{
  background: #31312f;
  color: yellow;
}

/* --------------------------------------
Togglebutton 
https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch */

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: rgb(37, 36, 36);
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #33f321;
}

input:focus + .slider {
  box-shadow: 0 0 1px #33f321;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.ckround {
  border-radius: 34px;
}

.slider.ckround:before {
  border-radius: 50%;
}

/* Ernährungsweise */

#diet_List{
  width: 70%;
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  border-radius: 20px;
}

#submitDiet{
  width: 10%;
  height: 60px;
  border-radius: 15px;
  font-size: 34px;
  font-weight: bold;
  background-color: var(--mainColor);
  color: var(--mainText);
}